
# --- Файлы Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# --- Виртуальное окружение ---
venv/
ENV/
env/
.venv/

# --- IDE (PyCharm) ---
.idea/
*.iml
*.ipr
*.iws

# --- Секреты и настройки ---
.env
.env.local
*.key
*.pem
secrets.json
config.local.py

# --- Логи и временные файлы ---
*.log
*.tmp
*.swp
*.swo
*~

# --- ОС ---
.DS_Store          # macOS
Thumbs.db          # Windows

# --- Файлы JSON ---
*.json

# --- Файлы txt ---
*.txt

.idea/workspace.xml